@media (max-width: 600px) {
  html {
    font-size: 50%;
  }
}

@media (max-width: 1200px) {
  html {
    font-size: 80%;
  }
}

@media (max-width: 900px) {
  html {
    font-size: 90%;
  }
}

@media (min-width: 1800px) {
  html {
    font-size: 90%;
  }
}

img {
  max-width: 100%;
}

@font-face {
  font-family: 'InterUI';
  src: url(../fonts/Inter-UI-Regular.ttf);
}

@font-face {
  font-family: 'Inter';
  src: url(../fonts/Inter-ExtraBold-slnt=0.ttf);
}

@font-face {
  font-family: 'Inter';
  src: url(../fonts/Inter-ExtraBold-slnt=0.ttf);
}

@font-face {
  font-family: "Semibold ";
  src: url("../fonts/Inter-SemiBold_5a940f143aafecbf00719f75eea1dd90.otf");
}

@font-face {
  font-family: "Poppins";
  src: url("../fonts/Montserrat-Medium.ttf");
}

@media screen and (min-width: 1200px) and (max-width: 1397px) {

}

.plant-trees-main .plant-trees-home-search {
  top: 0;
  left: 0;
  z-index: 2;
  position: absolute;
  padding: 20px 20px 0;
}

@media (max-width: 900px) {
  .plant-trees-main .plant-trees-home-search {
    display: contents;
  }
}

@media (max-width: 900px) {
  .plant-trees-main .plant-trees-home-search .plant-trees-home-searchTop {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.plant-trees-main .plant-trees-home-search .plant-trees-home-searchTop .plant-trees-home-searchLeft {
  max-width: 692px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.plant-trees-main .plant-trees-home-search .plant-trees-home-searchTop .plant-trees-home-searchLeft .plant-trees-logo img {
  max-width: 125px;
}

@media (max-width: 900px) {
  .plant-trees-main .plant-trees-home-search .plant-trees-home-searchTop .plant-trees-home-searchLeft {
    margin-top: 80px;
    display: inline-block;
    margin-left: 100px;
    text-align: center;
  }
}

@media (max-width: 600px) {
  .plant-trees-main .plant-trees-home-search .plant-trees-home-searchTop .plant-trees-home-searchLeft {
    margin-left: 0;
  }
}

.plant-trees-main .plant-trees-home-search .plant-trees-home-searchTop .plant-trees-home-searchLeft .plant-trees-search {
  margin-left: 20px;
}

@media (max-width: 900px) {
  .plant-trees-main .plant-trees-home-search .plant-trees-home-searchTop .plant-trees-home-searchLeft .plant-trees-search {
    margin-top: 20px;
  }
}

.plant-trees-main .plant-trees-home-search .plant-trees-home-searchTop .plant-trees-home-searchLeft .plant-trees-search form {
  margin: 0 auto;
  max-width: 100%;
  position: relative;
}

.plant-trees-main .plant-trees-home-search .plant-trees-home-searchTop .plant-trees-home-searchLeft .plant-trees-search form input {
  padding: 10px 45px 10px 20px;
  border: 1px solid #dfe1e5;
  border-radius: 23px;
  background: #fff;
  color: #132833;
  font-family: inherit;
  font-size: inherit;
  width: 100%;
}

.plant-trees-main .plant-trees-home-search .plant-trees-home-searchTop .plant-trees-home-searchLeft .plant-trees-search form input:focus {
  outline: none;
}

.plant-trees-main .plant-trees-home-search .plant-trees-home-searchTop .plant-trees-home-searchLeft .plant-trees-search form button {
  top: 15px;
  padding: 0;
  right: 15px;
  color: #000;
  width: 16px;
  height: 16px;
  font-size: 0;
  border: none;
  position: absolute;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: transparent;
  background-image: url(../images/icons/research.svg);
}

.plant-trees-main .plant-trees-home-search .plant-trees-home-searchTop .plant-trees-home-searchLeft .plant-trees-search form button:focus {
  outline: none;
  border: none;
}

.plant-trees-main .plant-trees-home-search .plant-trees-home-searchTop .plant-trees-home-searchRight {
  float: right;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

@media (max-width: 900px) {
  .plant-trees-main .plant-trees-home-search .plant-trees-home-searchTop .plant-trees-home-searchRight {
    margin-top: 20px;
  }
}

.plant-trees-main .plant-trees-home-search .plant-trees-home-searchTop .plant-trees-home-searchRight .plant-trees-number {
  margin-right: 12px;
  color: #222;
  cursor: pointer;
  font-weight: 600;
  font-size: 15px;
  font-size: 0.9375rem;
  border: 1px solid #d6d8dc;
  padding: 8px 13px 6px 35px;
  border-radius: 19px;
  background-repeat: no-repeat;
  background-position: 14px center;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-image: url(../images/icons/tree.svg);
}

@media (max-width: 900px) {
  .plant-trees-main .plant-trees-home-search .plant-trees-home-searchTop .plant-trees-home-searchRight .plant-trees-number {
    left: 12px;
    position: absolute;
  }
}

.plant-trees-main .plant-trees-home-search .plant-trees-home-searchTop .plant-trees-home-searchRight .plant-trees-number .num-of-search {
  left: 0;
  top: -999px;
  width: 100%;
  z-index: 99;
  min-width: 325px;
  position: absolute;
  border: 1px solid #e4e5e9;
  background-color: #fff;
  border-radius: 6px;
  -webkit-transition: top 0.5s ease-in-out;
  transition: top 0.5s ease-in-out;
  -webkit-box-shadow: 0 6px 15px 0 rgba(0, 0, 0, 0.08);
          box-shadow: 0 6px 15px 0 rgba(0, 0, 0, 0.08);
  margin-top: 18px;
}

.plant-trees-main .plant-trees-home-search .plant-trees-home-searchTop .plant-trees-home-searchRight .plant-trees-number .num-of-search .content {
  color: #333;
  float: left;
  width: 100%;
  line-height: 1.54;
  padding: 20px 20px 15px;
  font-weight: 400;
  font-size: 13px;
  font-size: 0.8125rem;
}

.plant-trees-main .plant-trees-home-search .plant-trees-home-searchTop .plant-trees-home-searchRight .plant-trees-number .num-of-search .content a {
  float: left;
  color: #7c7c7c;
  width: 100%;
}

.plant-trees-main .plant-trees-home-search .plant-trees-home-searchTop .plant-trees-home-searchRight .plant-trees-number .num-of-search .share {
  float: left;
  width: 100%;
  position: relative;
  padding: 15px 20px 20px;
}

.plant-trees-main .plant-trees-home-search .plant-trees-home-searchTop .plant-trees-home-searchRight .plant-trees-number .num-of-search .share:after {
  top: 0;
  left: 0;
  height: 1px;
  content: '';
  position: absolute;
  width: calc(100% - 25px);
  background-color: #e8e9ee;
}

.plant-trees-main .plant-trees-home-search .plant-trees-home-searchTop .plant-trees-home-searchRight .plant-trees-number .num-of-search .share .text {
  color: #54842a;
  font-weight: 400;
  font-size: 13px;
}

.plant-trees-main .plant-trees-home-search .plant-trees-home-searchTop .plant-trees-home-searchRight .plant-trees-number .num-of-search .share .share-social {
  float: right;
}

.plant-trees-main .plant-trees-home-search .plant-trees-home-searchTop .plant-trees-home-searchRight .plant-trees-number .num-of-search .share .share-social a {
  color: #333;
  padding-right: 8px;
}

.plant-trees-main .plant-trees-home-search .plant-trees-home-searchTop .plant-trees-home-searchRight .plant-trees-number .num-of-search .share .share-social a:hover {
  color: #6fae2e;
}

.plant-trees-main .plant-trees-home-search .plant-trees-home-searchTop .plant-trees-home-searchRight .plant-trees-home-account {
  width: 38px;
  height: 38px;
  cursor: pointer;
  position: relative;
  display: inline-block;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url(../images/icons/account.svg);
}

@media (max-width: 600px) {
  .plant-trees-main .plant-trees-home-search .plant-trees-home-searchTop .plant-trees-home-searchRight .plant-trees-home-account {
    display: none;
  }
}

.plant-trees-main .plant-trees-home-search .plant-trees-home-searchTop .plant-trees-home-searchRight .plant-trees-home-account .plant-trees-home__info {
  margin-top: 50px;
  right: 0;
  width: 100%;
  top: -999px;
  min-width: 445px;
  position: absolute;
  border: 1px solid #e4e5e9;
  background-color: #fff;
  border-radius: 6px;
  padding: 35px 20px 40px 30px;
  -webkit-box-shadow: 0 6px 15px 0 rgba(0, 0, 0, 0.08);
          box-shadow: 0 6px 15px 0 rgba(0, 0, 0, 0.08);
}

.plant-trees-main .plant-trees-home-search .plant-trees-home-searchTop .plant-trees-home-searchRight .plant-trees-home-account .plant-trees-home__info .item {
  float: left;
  width: 100%;
  margin-bottom: 40px;
}

.plant-trees-main .plant-trees-home-search .plant-trees-home-searchTop .plant-trees-home-searchRight .plant-trees-home-account .plant-trees-home__info .content {
  float: right;
  margin-top: -5px;
  width: calc(100% - 62px);
}

.plant-trees-main .plant-trees-home-search .plant-trees-home-searchTop .plant-trees-home-searchRight .plant-trees-home-account .plant-trees-home__info .content .title {
  color: #333;
  font-weight: 600;
  font-size: 17px;
  font-size: 1.0625rem;
}

.plant-trees-main .plant-trees-home-search .plant-trees-home-searchTop .plant-trees-home-searchRight .plant-trees-home-account .plant-trees-home__info .content .desc {
  color: #6f6f6f;
  font-weight: 400;
  font-size: 13px;
  font-size: 0.8125rem;
}

.plant-trees-main .plant-trees-home-search .plant-trees-home-searchTop .plant-trees-home-searchRight .plant-trees-menu .m-trigger .hambuger {
  padding: 15px 15px;
  display: inline-block;
  cursor: pointer;
  font: inherit;
  color: inherit;
  text-transform: none;
  background-color: transparent;
  border: 0;
  margin: 0;
  overflow: visible;
  padding: 0;
  font-weight: 500;
  opacity: 1;
}

.plant-trees-main .plant-trees-home-search .plant-trees-home-searchTop .plant-trees-home-searchRight .plant-trees-menu .m-trigger .hambuger .hambuger-box {
  top: 0;
  width: 37px;
  height: 37px;
  margin-left: 10px;
  line-height: 37px;
  text-align: center;
  position: relative;
  border: 1px solid #dfe1e5;
  border-radius: 50%;
}

@media (max-width: 600px) {
  .plant-trees-main .plant-trees-home-search .plant-trees-home-searchTop .plant-trees-home-searchRight .plant-trees-menu .m-trigger .hambuger .hambuger-box {
    margin-right: 10px;
    margin-left: unset;
  }
}

.plant-trees-main .plant-trees-home-search .plant-trees-home-searchTop .plant-trees-home-searchRight .plant-trees-menu .m-trigger .hambuger .hambuger-box .hambuger-inner {
  top: 12px;
  right: 10px;
  height: 2px;
  width: 15px;
  margin-top: 0;
  background-color: #999;
  position: absolute;
  display: block;
}

.plant-trees-main .plant-trees-home-search .plant-trees-home-searchTop .plant-trees-home-searchRight .plant-trees-menu .m-trigger .hambuger .hambuger-box .hambuger-inner:before {
  content: '';
  display: block;
  position: absolute;
  right: 0;
  top: 5px;
  width: 15px;
  height: 2px;
  background-color: #999;
  -webkit-transition-duration: 0.2s;
          transition-duration: 0.2s;
}

.plant-trees-main .plant-trees-home-search .plant-trees-home-searchTop .plant-trees-home-searchRight .plant-trees-menu .m-trigger .hambuger .hambuger-box .hambuger-inner:after {
  content: '';
  display: block;
  position: absolute;
  top: 10px;
  height: 2px;
  width: 15px;
  background-color: #999;
}

.plant-trees-searchPage .plant-trees-searchOption {
  margin-top: 100px;
  padding-bottom: 5px;
  border-bottom: 1px solid #ededed;
}

@media (max-width: 900px) {
  .plant-trees-searchPage .plant-trees-searchOption {
    margin-top: 25px;
  }
}

@media (max-width: 600px) {
  .plant-trees-searchPage .plant-trees-searchOption {
    -webkit-box-shadow: 0 10px 6px -6px #777;
    box-shadow: 0 8px 6px -6px #777;
  }
}

.plant-trees-searchPage .plant-trees-searchOption #mainMenu {
  margin-left: -150px;
}

@media (max-width: 1200px) {
  .plant-trees-searchPage .plant-trees-searchOption #mainMenu {
    margin-left: 0;
  }
}

@media (max-width: 600px) {
  .plant-trees-searchPage .plant-trees-searchOption #mainMenu {
    overflow: auto;
    white-space: nowrap;
    margin-left: -29px;
  }
}

.plant-trees-searchPage .plant-trees-searchOption #mainMenu .plant-trees-menuOption {
  display: -ms-inline-flexbox;
  display: inline-flex;
  display: -webkit-inline-box;
  list-style-type: none;
}

@media (max-width: 600px) {
  .plant-trees-searchPage .plant-trees-searchOption #mainMenu .plant-trees-menuOption {
    width: 300px;
  }
}

.plant-trees-searchPage .plant-trees-searchOption #mainMenu .plant-trees-menuOption li > a {
  font-family: "Poppins";
  font-size: 12px;
  letter-spacing: 1px;
  color: #333;
  font-weight: 500;
  position: relative;
  z-index: 1;
  text-decoration: none;
}

.plant-trees-searchPage .plant-trees-searchOption #mainMenu .plant-trees-menuOption li > a::before {
  position: absolute;
  content: "";
  width: calc(100% - 1px);
  height: 1px;
  background: #6fae2e;
  bottom: -6px;
  left: 0;
  -webkit-transform: scale(0, 1);
  transform: scale(0, 1);
  -webkit-transform-origin: right center;
  transform-origin: right center;
  z-index: -1;
  -webkit-transition: transform 0.5s ease;
  -webkit-transition: -webkit-transform 0.5s ease;
  transition: -webkit-transform 0.5s ease;
  transition: transform 0.5s ease;
  transition: transform 0.5s ease, -webkit-transform 0.5s ease;
}

.plant-trees-searchPage .plant-trees-searchOption #mainMenu .plant-trees-menuOption li > a:hover {
  color: #6fae2e;
}

.plant-trees-searchPage .plant-trees-searchOption #mainMenu .plant-trees-menuOption li > a:hover::before {
  -webkit-transform: scale(1, 1);
  transform: scale(1, 1);
  -webkit-transform-origin: left center;
  transform-origin: left center;
}

.plant-trees-searchPage .plant-trees-searchOption #mainMenu .plant-trees-menuOption li:not(:last-of-type) {
  margin-right: 30px;
}

.plant-trees-searchPage .plant-trees-searchOption #mainMenu .plant-trees-menuOption li > a.active {
  color: #6fae2e;
}

.plant-trees-searchPage .plant-trees-searchOption #mainMenu .plant-trees-menuOption li > a.active::before {
  -webkit-transform: scale(1, 1);
  transform: scale(1, 1);
  -webkit-transform-origin: left center;
  transform-origin: left center;
}

.plant-trees-searchPage .plant-trees-searchOption #mainMenu .plant-trees-menuOption li > a.all {
  padding-left: 20px;
  background-image: url(../images/search/icon-all.svg);
  background-repeat: no-repeat;
}

@media (max-width: 1200px) {
  .plant-trees-searchPage .plant-trees-searchOption #mainMenu .plant-trees-menuOption li > a.all {
    background-image: none;
    padding-left: 0;
  }
}

.plant-trees-searchPage .plant-trees-searchOption #mainMenu .plant-trees-menuOption li .images {
  padding-left: 20px;
  background-image: url(../images/search/icon-img.svg);
  background-repeat: no-repeat;
}

@media (max-width: 1200px) {
  .plant-trees-searchPage .plant-trees-searchOption #mainMenu .plant-trees-menuOption li .images {
    background-image: none;
    padding-left: 0;
  }
}

.plant-trees-searchPage .plant-trees-searchOption #mainMenu .plant-trees-menuOption li .news {
  padding-left: 20px;
  background-image: url(../images/search/icon-new.svg);
  background-repeat: no-repeat;
}

@media (max-width: 1200px) {
  .plant-trees-searchPage .plant-trees-searchOption #mainMenu .plant-trees-menuOption li .news {
    background-image: none;
    padding-left: 0;
  }
}

.plant-trees-searchPage .plant-trees-searchOption #mainMenu .plant-trees-menuOption li .video {
  padding-left: 20px;
  background-image: url(../images/search/icon-video.svg);
  background-repeat: no-repeat;
}

@media (max-width: 1200px) {
  .plant-trees-searchPage .plant-trees-searchOption #mainMenu .plant-trees-menuOption li .video {
    background-image: none;
    padding-left: 0;
  }
}

.plant-trees-searchPage .plant-trees-searchOption #mainMenu .plant-trees-menuOption li .maps {
  padding-left: 20px;
  background-image: url(../images/search/icon-map.svg);
  background-repeat: no-repeat;
}

@media (max-width: 1200px) {
  .plant-trees-searchPage .plant-trees-searchOption #mainMenu .plant-trees-menuOption li .maps {
    background-image: none;
    padding-left: 0;
  }
}

.plant-trees-searchPage .plant-trees-searchOption #mainMenu .plant-trees-menuOption li .tool {
  padding-left: 20px;
  background-image: url(../images/search/icon-more.svg);
  background-repeat: no-repeat;
}

@media (max-width: 1200px) {
  .plant-trees-searchPage .plant-trees-searchOption #mainMenu .plant-trees-menuOption li .tool {
    background-image: none;
    padding-left: 0;
  }
}

.plant-trees-searchPage .plant-trees-searchOption #mainMenu .plant-trees-menuOption li .settings {
  top: 2px;
  right: 0;
  position: absolute;
  padding-left: 20px;
  background-image: url(../images/icons/arrow-down.svg);
  background-repeat: no-repeat;
  background-position: 0px;
}

@media (max-width: 1200px) {
  .plant-trees-searchPage .plant-trees-searchOption #mainMenu .plant-trees-menuOption li .settings {
    background-image: none;
    padding-left: 0;
    position: unset;
  }
}

.plant-trees-searchPage .plant-trees-content {
  margin-top: 20px;
  margin-bottom: 20px;
}

@media (max-width: 900px) {
  .plant-trees-searchPage .plant-trees-content {
    overflow: auto;
    white-space: nowrap;
  }
}

@media (max-width: 600px) {
  .plant-trees-searchPage .plant-trees-content {
    margin-top: 20px;
    overflow: auto;
    white-space: nowrap;
    border-bottom: 2px solid #ededed;
  }
}

.plant-trees-searchPage .plant-trees-content .plant-trees-dropDown {
  display: -webkit-inline-box;
}

@media (max-width: 600px) {
  .plant-trees-searchPage .plant-trees-content .plant-trees-dropDown {
    margin-bottom: 3px;
  }
}

.plant-trees-searchPage .plant-trees-content .plant-trees-dropDown .plant-trees-swiches {
  margin-left: -97px;
}

@media (max-width: 1200px) {
  .plant-trees-searchPage .plant-trees-content .plant-trees-dropDown .plant-trees-swiches {
    margin-left: 50px;
  }
}

@media (max-width: 600px) {
  .plant-trees-searchPage .plant-trees-content .plant-trees-dropDown .plant-trees-swiches {
    margin-left: 21px;
  }
}

.plant-trees-searchPage .plant-trees-content .plant-trees-dropDown .plant-trees-swiches .switch-wrap {
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.38);
  padding: 2px;
  width: 39px;
  height: 19px;
  border-radius: 10px;
}

.plant-trees-searchPage .plant-trees-content .plant-trees-dropDown .plant-trees-swiches .switch-wrap input {
  position: absolute;
  opacity: 0;
  width: 0;
  height: 0;
}

.plant-trees-searchPage .plant-trees-content .plant-trees-dropDown .plant-trees-swiches .switch {
  height: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 0fr 1fr 1fr;
      grid-template-columns: 0fr 1fr 1fr;
  -webkit-transition: .2s;
  transition: .2s;
}

.plant-trees-searchPage .plant-trees-content .plant-trees-dropDown .plant-trees-swiches .switch::after {
  height: 14px;
  width: 14px;
  content: '';
  border-radius: 50%;
  background: #ccc;
  -ms-grid-column: 2;
  grid-column: 2;
  -webkit-transition: background .2s;
  transition: background .2s;
}

.plant-trees-searchPage .plant-trees-content .plant-trees-dropDown .plant-trees-swiches input:checked + .switch {
  -ms-grid-columns: 1fr 1fr 0fr;
      grid-template-columns: 1fr 1fr 0fr;
}

.plant-trees-searchPage .plant-trees-content .plant-trees-dropDown .plant-trees-swiches input:checked + .switch::after {
  background-color: #52cf71;
}

.plant-trees-searchPage .plant-trees-content .plant-trees-dropDown .plant-trees-safeSearch {
  margin-left: 60px;
}

@media (max-width: 600px) {
  .plant-trees-searchPage .plant-trees-content .plant-trees-dropDown .plant-trees-safeSearch {
    margin-left: 14px;
  }
}

.plant-trees-searchPage .plant-trees-content .plant-trees-dropDown .plant-trees-anyTime {
  margin-left: 20px;
}

.plant-trees-mainNew .plant-trees-mainLeft {
  margin-left: -109px;
  margin-right: 109px;
}

@media (max-width: 1200px) {
  .plant-trees-mainNew .plant-trees-mainLeft {
    margin-left: 0;
    margin-right: 0;
  }
}

.plant-trees-mainNew .plant-trees-mainLeft .plant-trees-topStories {
  font-family: Arial;
  font-size: 20px;
  margin-bottom: 20px;
  color: #353535;
}

.plant-trees-mainNew .plant-trees-mainLeft .plant-trees-slider .owl-theme .item .box {
  background-color: #f3f4f6;
}

.plant-trees-mainNew .plant-trees-mainLeft .plant-trees-slider .owl-theme .item .box .boxNew {
  padding: 20px;
}

.plant-trees-mainNew .plant-trees-mainLeft .plant-trees-slider .owl-theme .item .box .boxNew a {
  color: #1a0dab;
  text-decoration: none;
  height: 44px;
  font-family: Arial;
  font-size: 16px;
}

.plant-trees-mainNew .plant-trees-mainLeft .plant-trees-slider .owl-theme .item .box .boxNew .webNewpager {
  margin-top: 34px;
}

.plant-trees-mainNew .plant-trees-mainLeft .plant-trees-slider .owl-theme .item .box .boxNew .data {
  font-family: Arial;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #70757a;
}

.plant-trees-mainNew .plant-trees-mainLeft .plant-trees-slider .owl-theme .owl-nav {
  margin-top: -215px;
}

.plant-trees-mainNew .plant-trees-mainLeft .plant-trees-slider .owl-theme .owl-nav .owl-prev {
  position: absolute;
  left: -30px;
}

@media (max-width: 600px) {
  .plant-trees-mainNew .plant-trees-mainLeft .plant-trees-slider .owl-theme .owl-nav .owl-prev {
    display: none;
  }
}

.plant-trees-mainNew .plant-trees-mainLeft .plant-trees-slider .owl-theme .owl-nav .owl-prev:hover {
  background: none;
}

.plant-trees-mainNew .plant-trees-mainLeft .plant-trees-slider .owl-theme .owl-nav .owl-prev:focus {
  outline: none;
}

.plant-trees-mainNew .plant-trees-mainLeft .plant-trees-slider .owl-theme .owl-nav .owl-prev img {
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
  -webkit-filter: FlipH;
          filter: FlipH;
  -ms-filter: "FlipH";
}

.plant-trees-mainNew .plant-trees-mainLeft .plant-trees-slider .owl-theme .owl-nav .owl-next {
  right: -30px;
  position: absolute;
}

@media (max-width: 600px) {
  .plant-trees-mainNew .plant-trees-mainLeft .plant-trees-slider .owl-theme .owl-nav .owl-next {
    display: none;
  }
}

.plant-trees-mainNew .plant-trees-mainLeft .plant-trees-slider .owl-theme .owl-nav .owl-next:hover {
  background: none;
}

.plant-trees-mainNew .plant-trees-mainLeft .plant-trees-slider .owl-theme .owl-nav .owl-next:focus {
  outline: none;
}

.plant-trees-mainNew .plant-trees-more {
  margin-top: 250px;
  margin-left: -106px;
}

@media (max-width: 1200px) {
  .plant-trees-mainNew .plant-trees-more {
    margin-left: 0;
  }
}

.plant-trees-mainNew .plant-trees-more a {
  text-decoration: none;
  color: #1a0dab;
}

.plant-trees-mainNew .plant-trees-more a img {
  margin-right: 30px;
  max-width: 15px;
}

.plant-trees-mainNew .plant-trees-tableColumn {
  margin-left: -103px;
  margin-top: 50px;
}

@media (max-width: 1200px) {
  .plant-trees-mainNew .plant-trees-tableColumn {
    margin-left: 0;
  }
}

.plant-trees-mainNew .plant-trees-tableColumn .news {
  margin-bottom: 30px;
}

@media (max-width: 600px) {
  .plant-trees-mainNew .plant-trees-tableColumn .news {
    padding: 7px;
    margin-bottom: 30px;
    border-radius: 10px;
    margin-bottom: 10px;
    -webkit-box-shadow: 0px 0px 8px 1px rgba(0, 0, 0, 0.33);
    box-shadow: 0px 0px 8px 1px rgba(0, 0, 0, 0.33);
  }
}

.plant-trees-mainNew .plant-trees-tableColumn .news .title {
  margin-bottom: 8px;
}

.plant-trees-mainNew .plant-trees-tableColumn .news .title a {
  width: 550px;
  font-family: Arial;
  font-size: 20px;
  color: #1a0dab;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: block;
}

@media (max-width: 600px) {
  .plant-trees-mainNew .plant-trees-tableColumn .news .title a {
    width: 100%;
  }
}

.plant-trees-mainNew .plant-trees-tableColumn .news .links a {
  font-family: Arial;
  font-size: 14px;
  color: #006621;
}

.plant-trees-mainNew .plant-trees-tableColumn .news .content {
  margin-top: 10px;
  font-family: Arial;
  font-size: 14px;
  line-height: 1.57;
  color: #353535;
}

.plant-trees-mainNew .plant-trees-video {
  margin-left: -103px;
}

@media (max-width: 1200px) {
  .plant-trees-mainNew .plant-trees-video {
    margin-left: 0;
  }
}

.plant-trees-mainNew .plant-trees-video .video {
  margin-top: 14px;
  margin-bottom: 30px;
}

.plant-trees-mainNew .plant-trees-video .video span {
  font-family: Arial;
  font-size: 20px;
  color: #353535;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
}

.plant-trees-mainNew .plant-trees-video .owl-theme .item .box {
  background-color: #f3f4f6;
}

.plant-trees-mainNew .plant-trees-video .owl-theme .item .box .boxNew {
  padding: 20px;
}

.plant-trees-mainNew .plant-trees-video .owl-theme .item .box .boxNew a {
  color: #1a0dab;
  text-decoration: none;
  height: 44px;
  font-family: Arial;
  font-size: 16px;
}

.plant-trees-mainNew .plant-trees-video .owl-theme .item .box .boxNew .webNewpager {
  margin-top: 34px;
}

.plant-trees-mainNew .plant-trees-video .owl-theme .item .box .boxNew .data {
  font-family: Arial;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #70757a;
}

.plant-trees-mainNew .plant-trees-video .owl-theme .owl-nav {
  margin-top: -215px;
}

.plant-trees-mainNew .plant-trees-video .owl-theme .owl-nav .owl-prev {
  position: absolute;
  left: -30px;
}

@media (max-width: 600px) {
  .plant-trees-mainNew .plant-trees-video .owl-theme .owl-nav .owl-prev {
    display: none;
  }
}

.plant-trees-mainNew .plant-trees-video .owl-theme .owl-nav .owl-prev:hover {
  background: none;
}

.plant-trees-mainNew .plant-trees-video .owl-theme .owl-nav .owl-prev:focus {
  outline: none;
}

.plant-trees-mainNew .plant-trees-video .owl-theme .owl-nav .owl-prev img {
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
  -webkit-filter: FlipH;
          filter: FlipH;
  -ms-filter: "FlipH";
}

.plant-trees-mainNew .plant-trees-video .owl-theme .owl-nav .owl-next {
  right: -30px;
  position: absolute;
}

@media (max-width: 600px) {
  .plant-trees-mainNew .plant-trees-video .owl-theme .owl-nav .owl-next {
    display: none;
  }
}

.plant-trees-mainNew .plant-trees-video .owl-theme .owl-nav .owl-next:hover {
  background: none;
}

.plant-trees-mainNew .plant-trees-video .owl-theme .owl-nav .owl-next:focus {
  outline: none;
}

.plant-trees-mainNew .plant-trees-searchNews {
  margin-top: 250px;
  margin-left: -103px;
}

@media (max-width: 1200px) {
  .plant-trees-mainNew .plant-trees-searchNews {
    display: none;
  }
}

.plant-trees-mainNew .plant-trees-searchNews span {
  color: #353535;
  margin: 35px 0 15px;
  font-weight: 500;
  font-size: 20px;
  font-size: 1.25rem;
  margin-bottom: 10px;
}

.plant-trees-mainNew .plant-trees-searchNews .item {
  margin-top: 50px;
  display: table-cell;
  padding-right: 170px;
}

.plant-trees-mainNew .plant-trees-searchNews .item h5 {
  margin-top: 20px;
}

.plant-trees-mainNew .plant-trees-searchNews .item h5 a {
  color: #1a0dab;
  font-weight: 400;
  font-size: 16px;
  font-size: .875rem;
}

.plant-trees-mainNew .plant-trees-results {
  margin-top: 50px;
  margin-left: -103px;
  border-top: 1px solid #ededed;
}

@media (max-width: 1200px) {
  .plant-trees-mainNew .plant-trees-results {
    margin-top: 200px;
    margin-left: 0;
  }
}

.plant-trees-mainNew .plant-trees-results .resultText {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #777;
  font-weight: 400;
  font-size: 13px;
  font-size: .8125rem;
}

.plant-trees-mainNew .plant-trees-results .resultText .about {
  margin-top: 15px;
  margin-bottom: 50px;
}

.plant-trees-mainNew .plant-trees-results .resultText .resultBy {
  margin-top: 15px;
  margin-bottom: 50px;
  right: 0;
  position: absolute;
}

@media (max-width: 600px) {
  .plant-trees-mainNew .plant-trees-results .resultText .resultBy {
    right: 14px;
    position: absolute;
  }
}

.plant-trees-mainNew .plant-trees-results [data-pagination] {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-kerning: auto;
          font-kerning: auto;
  font-size: 22px;
  line-height: 1;
  font-weight: 400;
  font-family: 'Open Sans', 'Source Sans Pro', Roboto, 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', 'Myriad Pro', 'Segoe UI', Myriad, Helvetica, 'Lucida Grande', 'DejaVu Sans Condensed', 'Liberation Sans', 'Nimbus Sans L', Tahoma, Geneva, Arial, sans-serif;
  -webkit-text-size-adjust: 100%;
  margin: 1em auto;
  text-align: center;
  -webkit-transition: font-size .2s ease-in-out;
  transition: font-size .2s ease-in-out;
}

@media (max-width: 600px) {
  .plant-trees-mainNew .plant-trees-results [data-pagination] {
    font-size: 14px;
  }
}

.plant-trees-mainNew .plant-trees-results [data-pagination] * {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-kerning: auto;
          font-kerning: auto;
}

.plant-trees-mainNew .plant-trees-results [data-pagination] *:before {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-kerning: auto;
          font-kerning: auto;
}

.plant-trees-mainNew .plant-trees-results [data-pagination] *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-kerning: auto;
          font-kerning: auto;
}

.plant-trees-mainNew .plant-trees-results [data-pagination] ul {
  list-style-type: none;
  display: inline;
  font-size: 100%;
  margin: 0;
  padding: .5em;
}

.plant-trees-mainNew .plant-trees-results [data-pagination] ul li {
  display: inline-block;
  font-size: 100%;
  width: auto;
  border-radius: 3px;
}

.plant-trees-mainNew .plant-trees-results [data-pagination] > a {
  font-size: 140%;
}

.plant-trees-mainNew .plant-trees-results [data-pagination] a {
  color: #777;
  font-size: 100%;
  padding: .5em;
}

.plant-trees-mainNew .plant-trees-results [data-pagination] a:focus {
  color: #6fae2e;
}

.plant-trees-mainNew .plant-trees-results [data-pagination] a:hover {
  color: #6fae2e;
}

.plant-trees-mainNew .plant-trees-results [data-pagination] li.current {
  background: rgba(0, 0, 0, 0.1);
}

.plant-trees-mainNew .plant-trees-results [data-pagination] .disabled {
  opacity: .5;
  pointer-events: none;
}

.plant-trees-mainNew .plant-trees-results [data-pagination] [hidden] {
  opacity: .5;
  pointer-events: none;
}

.plant-trees-mainNew .plant-trees-results [data-pagination] [disabled] {
  opacity: .5;
  pointer-events: none;
}

.plant-trees-mainNew .resultRight {
  margin-top: 80px;
  height: 245px;
  border-radius: 6px;
  border: solid 1px #dfe1e5;
  background-color: #ffffff;
}

@media (max-width: 1200px) {
  .plant-trees-mainNew .resultRight {
    display: none;
  }
}

.plant-trees-mainNew .resultRight .result {
  font-family: Arial;
  font-size: 20px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #222222;
  margin: 24px 20px 23px 20px;
}

.plant-trees-mainNew .resultRight .result-1 {
  margin: 24px 20px 23px 20px;
}

.plant-trees-mainNew .resultRight .result-1 .resultLink {
  float: left;
  width: 70%;
}

.plant-trees-mainNew .resultRight .result-1 .resultLink a {
  text-decoration: none;
  font-family: Arial;
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #1a0dab;
}

.plant-trees-mainNew .resultRight .result-1 .resultLink p {
  margin-top: 8px;
  font-family: Arial;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.57;
  letter-spacing: normal;
  color: #111111;
}

.plant-trees-mainNew .resultRight .result-1 .textTra {
  text-align: right;
  float: left;
  width: 30%;
}

.footer-search {
  padding: 15px 0 20px;
  background-color: #efefef;
  -webkit-box-shadow: 0 -1px 0 0 #dcdcdc;
  -ms-box-shadow: 0 -1px 0 0 #dcdcdc;
  -o-box-shadow: 0 -1px 0 0 #dcdcdc;
  box-shadow: 0 -1px 0 0 #dcdcdc;
}

.footer-search .footer-searchLeft {
  margin-left: -103px;
}

@media (max-width: 1200px) {
  .footer-search .footer-searchLeft {
    margin-left: 0;
  }
}

@media (max-width: 600px) {
  .footer-search .footer-searchLeft .footer-magicBox {
    overflow: auto;
    white-space: nowrap;
  }
}

.footer-search .footer-searchLeft .footer-magicBox .magic-box-sroll {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

@media (max-width: 600px) {
  .footer-search .footer-searchLeft .footer-magicBox .magic-box-sroll {
    width: 500px;
  }
}

.footer-search .footer-searchLeft .footer-magicBox .magic-box-sroll .item {
  color: #555;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: 10px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #fff;
  font-weight: 700;
  font-size: 14px;
  font-size: .875rem;
  border: 1px solid #d2d2d2;
  border-radius: 5px;
  -ms-border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -o-border-radius: 5px;
  padding: 15px 30px 18px 57px;
  background-repeat: no-repeat;
  width: calc(33.334% - 10px);
  background-position: 15px center;
}

.footer-search .footer-searchLeft .footer-magicBox .magic-box-sroll .item:first-child {
  background-image: url("../images/search/detective.svg");
}

.footer-search .footer-searchLeft .footer-magicBox .magic-box-sroll .item:nth-child(2) {
  background-image: url("../images/search/secret-file.svg");
}

.footer-search .footer-searchLeft .footer-magicBox .magic-box-sroll .item:last-child {
  background-image: url("../images/search/search-1.svg");
}

.footer-search .footer-searchLeft .footer-magicMenu {
  padding-top: 25px;
}

.footer-search .footer-searchLeft .footer-magicMenu ul {
  list-style-type: none;
  padding-left: 0;
}

.footer-search .footer-searchLeft .footer-magicMenu ul li {
  float: left;
  padding-right: 30px;
}

@media (max-width: 600px) {
  .footer-search .footer-searchLeft .footer-magicMenu ul li {
    display: inline-block;
    float: none;
  }
}

.footer-search .footer-searchLeft .footer-magicMenu ul li a {
  color: #898989;
  line-height: 2.09;
  letter-spacing: 1.1px;
  font-weight: 600;
  font-size: 11px;
  font-size: .6875rem;
  text-transform: uppercase;
}

.footer-search .footer-searchright {
  padding-top: 25px;
  margin-left: -50px;
}

@media (max-width: 1200px) {
  .footer-search .footer-searchright {
    margin-left: 0;
  }
}

.footer-search .footer-searchright ul {
  list-style-type: none;
  padding-left: 0;
}

.footer-search .footer-searchright ul li {
  float: left;
  padding-right: 30px;
}

@media (max-width: 1200px) {
  .footer-search .footer-searchright ul li {
    padding-right: 10px;
  }
}

@media (max-width: 600px) {
  .footer-search .footer-searchright ul li {
    display: inline-block;
    float: none;
  }
}

.footer-search .footer-searchright ul li a {
  color: #898989;
  line-height: 2.09;
  letter-spacing: 1.1px;
  font-weight: 600;
  font-size: 11px;
  font-size: .6875rem;
  text-transform: uppercase;
}
/*# sourceMappingURL=search.css.map */