.plant-trees-main {
    .plant-trees-home {
        top: 0;
        left: 0;
        z-index: 2;
        // position: absolute;
        padding: 20px 20px 0;

        .plant-trees-home-searchTop {
            .plant-trees-topLogo {
                img {
                    max-width: 181px;
                }
            }
        }

        .plant-trees-searchRight {

            // position: absolute;
            .plant-trees-account {
                width: 38px;
                height: 38px;
                cursor: pointer;
                position: relative;
                display: inline-block;
                background-position: center;
                background-repeat: no-repeat;
                background-image: url(../images/icons/account.svg);

                .plant-trees-account-info {
                    right: 0;
                    width: 100%;
                    margin-top: 50px;
                    min-width: 445px;
                    position: absolute;
                    border: 1px solid #e4e5e9;
                    background-color: #fff;
                    border-radius: 6px;
                    -ms-border-radius: 6px;
                    -moz-border-radius: 6px;
                    -webkit-border-radius: 6px;
                    -o-border-radius: 6px;
                    padding: 35px 20px 30px;
                    -webkit-transition: top .5s ease-in-out;
                    -ms-transition: top .5s ease-in-out;
                    -moz-transition: top .5s ease-in-out;
                    -o-transition: top .5s ease-in-out;
                    transition: top .5s ease-in-out;
                    -webkit-box-shadow: 0 6px 15px 0 rgba(0, 0, 0, .08);
                    -ms-box-shadow: 0 6px 15px 0 rgba(0, 0, 0, .08);
                    -o-box-shadow: 0 6px 15px 0 rgba(0, 0, 0, .08);
                    -moz-box-shadow: 0 6px 15px 0 rgba(0, 0, 0, .08);
                    box-shadow: 0 6px 15px 0 rgba(0, 0, 0, .08);

                    .item {
                        width: 100%;
                        margin-bottom: 40px;

                        .content {
                            margin-top: -5px;
                            width: calc(100% - 62px);

                            .title {
                                color: #333;
                                font-weight: 600;
                                font-size: 17px;
                                font-size: 1.0625rem;
                            }

                            .desc {
                                color: #6f6f6f;
                                font-weight: 400;
                                font-size: 13px;
                                font-size: .8125rem;
                            }
                        }
                    }
                }
            }
            plant-trees-menu-mobile
            .nav {
                -webkit-transition: left 0.5s ease;
                -moz-transition: left 0.5s ease;
                -ms-transition: left 0.5s ease;
                -o-transition: left 0.5s ease;
                transition: left 0.5s ease;
                background: #28dde0;
                color: white;
                cursor: pointer;
                font-size: 2rem;
                height: 100vh;
                right: -20rem;
                padding: 6rem 2rem 2rem 2rem;
                position: fixed;
                top: 0;
                width: 20rem;
                z-index: 1;
                ul {
                    position: absolute;
                    top: 50%;
                    -webkit-transform: translateY(-50%);
                    -ms-transform: translateY(-50%);
                    transform: translateY(-50%);
                    list-style: none;
                    margin: 0;
                    padding: 0;
                }
            }
            .nav.expanded {
                right: 0;
            }
            .nav-toggle {
                
                -webkit-user-select: none;
                -moz-user-select: none;
                user-select: none;
                cursor: pointer;
                height: 2rem;
                right: 2rem;
                position: fixed;
                top: 2rem;
                width: 3.6rem;
                z-index: 2;
                &:hover {
                    opacity: 0.8;
                }
                .nav-toggle-bar {
                    position: absolute;
                    top: 50%;
                    -webkit-transform: translateY(-50%);
                    -ms-transform: translateY(-50%);
                    transform: translateY(-50%);
                    -webkit-transition: all 0.5s ease;
                    -moz-transition: all 0.5s ease;
                    -ms-transition: all 0.5s ease;
                    -o-transition: all 0.5s ease;
                    transition: all 0.5s ease;
                    background: white;
                    content: '';
                    height: 0.4rem;
                    width: 100%;
                    margin-top: 0;
                    &::after {
                        position: absolute;
                        top: 50%;
                        -webkit-transform: translateY(-50%);
                        -ms-transform: translateY(-50%);
                        transform: translateY(-50%);
                        -webkit-transition: all 0.5s ease;
                        -moz-transition: all 0.5s ease;
                        -ms-transition: all 0.5s ease;
                        -o-transition: all 0.5s ease;
                        transition: all 0.5s ease;
                        background: #999;
                        content: '';
                        height: 0.4rem;
                        width: 100%;
                        margin-top: 0.8rem;
                    }
                    &::before {
                        position: absolute;
                        top: 50%;
                        -webkit-transform: translateY(-50%);
                        -ms-transform: translateY(-50%);
                        transform: translateY(-50%);
                        -webkit-transition: all 0.5s ease;
                        -moz-transition: all 0.5s ease;
                        -ms-transition: all 0.5s ease;
                        -o-transition: all 0.5s ease;
                        transition: all 0.5s ease;
                        background: #999;
                        content: '';
                        height: 0.4rem;
                        width: 100%;
                        margin-top: -0.8rem;
                    }
                }
            }
            .nav-toggle.expanded {
                .nav-toggle-bar {
                    
                    background: transparent;
                    &::after {
                        background: #999;
                        margin-top: 0;
                        -ms-transform: rotate(45deg);
                        -webkit-transform: rotate(45deg);
                        transform: rotate(45deg);
                    }
                    &::before {
                        background: #999;
                        margin-top: 0;
                        -ms-transform: rotate(-45deg);
                        -webkit-transform: rotate(-45deg);
                        transform: rotate(-45deg);
                    }
                }
            }
            
              
        }
    }
}