.plant-trees-main .plant-trees-home {
  top: 0;
  left: 0;
  z-index: 2;
  padding: 20px 20px 0;
}

.plant-trees-main .plant-trees-home .plant-trees-home-searchTop .plant-trees-topLogo img {
  max-width: 181px;
}



.plant-trees-main .plant-trees-home .plant-trees-searchRight .plant-trees-account {
  width: 38px;
  height: 38px;
  cursor: pointer;
  position: relative;
  display: inline-block;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url(../images/icons/account.svg);
}

.plant-trees-main .plant-trees-home .plant-trees-searchRight .plant-trees-account .plant-trees-account-info {
  right: 0;
  width: 100%;
  margin-top: 50px;
  min-width: 445px;
  position: absolute;
  border: 1px solid #e4e5e9;
  background-color: #fff;
  border-radius: 6px;
  -ms-border-radius: 6px;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  -o-border-radius: 6px;
  padding: 35px 20px 30px;
  -webkit-transition: top .5s ease-in-out;
  transition: top .5s ease-in-out;
  -webkit-box-shadow: 0 6px 15px 0 rgba(0, 0, 0, 0.08);
  -ms-box-shadow: 0 6px 15px 0 rgba(0, 0, 0, 0.08);
  -o-box-shadow: 0 6px 15px 0 rgba(0, 0, 0, 0.08);
  box-shadow: 0 6px 15px 0 rgba(0, 0, 0, 0.08);
}

.plant-trees-main .plant-trees-home .plant-trees-searchRight .plant-trees-account .plant-trees-account-info .item {
  width: 100%;
  margin-bottom: 40px;
}

.plant-trees-main .plant-trees-home .plant-trees-searchRight .plant-trees-account .plant-trees-account-info .item .content {
  margin-top: -5px;
  width: calc(100% - 62px);
}

.plant-trees-main .plant-trees-home .plant-trees-searchRight .plant-trees-account .plant-trees-account-info .item .content .title {
  color: #333;
  font-weight: 600;
  font-size: 17px;
  font-size: 1.0625rem;
}

.plant-trees-main .plant-trees-home .plant-trees-searchRight .plant-trees-account .plant-trees-account-info .item .content .desc {
  color: #6f6f6f;
  font-weight: 400;
  font-size: 13px;
  font-size: .8125rem;
}

.plant-trees-main .plant-trees-home .plant-trees-searchRight .menu__toggler {
  position: absolute;
  top: 20px;
  left: 20px;
  z-index: 999;
  height: 28px;
  width: 28px;
  outline: none;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.plant-trees-main .plant-trees-home .plant-trees-searchRight .menu__toggler span,
.plant-trees-main .plant-trees-home .plant-trees-searchRight .menu__toggler span::before,
.plant-trees-main .plant-trees-home .plant-trees-searchRight .menu__toggler span::after {
  position: absolute;
  content: '';
  width: 28px;
  height: 2.5px;
  background: red;
  border-radius: 20px;
  -webkit-transition: 500ms cubic-bezier(0.77, 0, 0.175, 1);
  transition: 500ms cubic-bezier(0.77, 0, 0.175, 1);
}

.plant-trees-main .plant-trees-home .plant-trees-searchRight .menu__toggler span::before {
  top: -8px;
}

.plant-trees-main .plant-trees-home .plant-trees-searchRight .menu__toggler span::after {
  top: 8px;
}

.plant-trees-main .plant-trees-home .plant-trees-searchRight .menu__toggler.active > span {
  background: transparent;
}

.plant-trees-main .plant-trees-home .plant-trees-searchRight .menu__toggler.active > span::before,
.plant-trees-main .plant-trees-home .plant-trees-searchRight .menu__toggler.active > span::after {
  background: #005c9c;
  top: 0px;
}

.plant-trees-main .plant-trees-home .plant-trees-searchRight .menu__toggler.active > span::before {
  -webkit-transform: rotate(-225deg);
          transform: rotate(-225deg);
}

.plant-trees-main .plant-trees-home .plant-trees-searchRight .menu__toggler.active > span::after {
  -webkit-transform: rotate(225deg);
          transform: rotate(225deg);
}

.plant-trees-main .plant-trees-home .plant-trees-searchRight .menu {
  background: red;
  position: absolute;
  left: -30%;
  z-index: 998;
  color: #005c9c;
  background: rgba(250, 250, 250, 0.7);
  -webkit-clip-path: polygon(0 0, 100% 0, 85% 100%, 0% 100%);
          clip-path: polygon(0 0, 100% 0, 85% 100%, 0% 100%);
  width: 30%;
  height: 100%;
  padding: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: 300ms left cubic-bezier(0.77, 0, 0.175, 1);
  transition: 300ms left cubic-bezier(0.77, 0, 0.175, 1);
}

@media only screen and (max-width: 600px) {
  .plant-trees-main .plant-trees-home .plant-trees-searchRight .menu {
    width: 250px;
    left: -250px;
    padding: 50px;
  }
}

.plant-trees-main .plant-trees-home .plant-trees-searchRight .menu.active {
  left: 0;
}

.plant-trees-main .plant-trees-home .plant-trees-searchRight .menu p {
  font-size: 1.4rem;
  margin-bottom: 1rem;
}
/*# sourceMappingURL=style.css.map */