.plant-trees-main {
    .plant-trees-home {
        top: 0;
        left: 0;
        z-index: 2;
        position: relative;
        padding: 20px 20px 0;

        .plant-trees-home-searchTop {
            .plant-trees-topLogo {
                img {
                    max-width: 181px;
                }
            }
        }

        .plant-trees-searchRight {
            pos;
            .plant-trees-account {
                width: 38px;
                height: 38px;
                cursor: pointer;
                position: relative;
                display: inline-block;
                background-position: center;
                background-repeat: no-repeat;
                background-image: url(../images/icons/account.svg);
            }
        }
    }
}