.plant-trees-main {
    .plant-trees-home {
        top: 0;
        left: 0;
        z-index: 2;
        // position: absolute;
        padding: 20px 20px 0;

        .plant-trees-home-searchTop {
            .plant-trees-topLogo {
                img {
                    max-width: 181px;
                }
            }
        }

        .plant-trees-searchRight {

            // position: absolute;
            .plant-trees-account {
                width: 38px;
                height: 38px;
                cursor: pointer;
                position: relative;
                display: inline-block;
                background-position: center;
                background-repeat: no-repeat;
                background-image: url(../images/icons/account.svg);

                .plant-trees-account-info {
                    right: 0;
                    width: 100%;
                    // top: -999px;
                    min-width: 445px;
                    position: absolute;
                    border: 1px solid #e4e5e9;
                    background-color: #fff;
                    border-radius: 6px;
                    -ms-border-radius: 6px;
                    -moz-border-radius: 6px;
                    -webkit-border-radius: 6px;
                    -o-border-radius: 6px;
                    padding: 35px 20px 40px 30px;
                    -webkit-transition: top .5s ease-in-out;
                    -ms-transition: top .5s ease-in-out;
                    -moz-transition: top .5s ease-in-out;
                    -o-transition: top .5s ease-in-out;
                    transition: top .5s ease-in-out;
                    -webkit-box-shadow: 0 6px 15px 0 rgba(0, 0, 0, .08);
                    -ms-box-shadow: 0 6px 15px 0 rgba(0, 0, 0, .08);
                    -o-box-shadow: 0 6px 15px 0 rgba(0, 0, 0, .08);
                    -moz-box-shadow: 0 6px 15px 0 rgba(0, 0, 0, .08);
                    box-shadow: 0 6px 15px 0 rgba(0, 0, 0, .08);

                    .item {
                        width: 100%;
                        margin-bottom: 40px;
                        .content{
                            margin-top: -5px;
                            width: calc(100% - 62px);
                        }
                    }
                }
            }
        }
    }
}