
.plant-trees-main{
    .plant-trees-home{
        top: 0;
        left: 0;
        z-index: 2;
        position: absolute;
        padding: 20px 20px 0;
        .plant-trees-home-searchTop{
            .plant-trees-topLogo{
                img{
                    max-width: ;
                }
            } 
        }
    }
}
