@mixin respond($breakpoint) {
    @if $breakpoint==phone {
        @media (max-width: 600px) {
            @content
        }

        ; //600px
    }

    @if $breakpoint==tab-port {
        @media (max-width: 900px) {
            @content
        }

        ; //900px
    }

    @if $breakpoint==tab-land {
        @media (max-width: 1200px) {
            @content
        }

        ; //1200px
    }

    @if $breakpoint==big-desktop {
        @media (min-width: 1800px) {
            @content
        }

        ; //1800px
    }
}

@font-face {
    font-family: Inter;
    src: url("../fonts/Inter-SemiBold_5a940f143aafecbf00719f75eea1dd90.otf");
}

img {
    width: 100%;
}

.plant-trees-financial {
    background-image: url('../images/financial/asset-1.svg');
    background-size: cover;
    background-position: bottom;
    background-repeat: no-repeat;
    max-width: 100%;
    position: relative;

    &::before {
        @include respond(tab-port) {
            content: "";
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            background: rgba(0, 0, 0, .6);
        }
    }

    .plant-financialLeft {

        padding: 170px 0 430px;

        @include respond(tab-port) {
            padding: 170px 0 0px 0;
        }

        .financial-title {
            color: #31343a;
            padding: 0 12px 5px;
            font-weight: 700;
            font-size: 40px;
            font-size: 2.5rem;
            font-family: Inter;

            @include respond(tab-port) {
                color: #ffffff;
            }

            @include respond(phone) {
                font-size: 23px;
            }
        }

        .financial-desc {
            padding: 0 250px 100px 250px;
            font-family: Inter;
            font-size: 17px;
            line-height: 1.88;
            color: #666666;

            @include respond(tab-port) {
                padding: 0 0 100px 0;
                color: #ffffff;
            }

            @include respond(phone) {
                font-size: 13px;
            }
        }
    }
}

.plant-trees-transparent {
    margin-top: 100px;

    .plant-transparentLeft {}

    .plant-transparentRight {
        padding-top: 30px;

        .transparent-title {
            font-family: Inter;
            font-size: 24px;
            font-weight: bold;
            color: #31343a;
            margin-bottom: 30px;
        }

        .transparent-desc {
            font-family: InterUI;
            font-size: 17px;
            line-height: 1.82;
            color: #373737;
        }
    }
}

.plant-trees-ourStrategy {
    margin-top: 100px;
    background-color: #f7f9fa;

    .plant-trees-titleOur {
        margin-bottom: 50px;

        .plant-trees-title {
            font-family: Inter;
            font-size: 52px;
            margin-top: 50px;
            font-weight: 600;
            line-height: 1.08;
            color: #333333;
            max-width: 600px;
            margin-left: auto;
            margin-right: auto;
            @include respond(tab-port){
                font-size: 24px;
                max-width: 251px;
            }
        }
    }

    .plant-trees-contentOur {

        .plant-contentRight{
            img{
                @include respond(phone){
                    width: 88%;
                    margin-bottom: 20px;
                }
            }
        }
        .plant-contentLeft {

            .our-primary-focus {}

            // font-family: Inter;
            font-size: 17px;
            font-weight: normal;
            font-stretch: normal;
            font-style: normal;
            line-height: 1.88;
            letter-spacing: normal;
            color: #666666;
            margin-bottom: 30px;

            ul {
                padding-left: 0;
                @include respond(phone){
                    padding-left:revert;
                }
                li {
                    margin-top: 30px;
                }
            }
        }

        .plant-trees-monthlyLeft {
            img{
                width: 70%;
                @include respond(tab-port){
                    width: 50%;
                    margin-bottom: 30px;
                }

             
            }
        }

        .plant-trees-monthlyRight {
            .plant-monthlyTitle {
                border-bottom: 1px solid #6f7276;
                display: flex;
                justify-content: space-between;
                align-items: center;
                padding: 0 0 10px;
                span{
                    font-family: Inter;
                    font-size: 24px;
                    font-weight: bold;
                    color: #31343a;
                }
                select {
                    cursor: pointer;
                    border-radius: 18px;
                    border: none;
                    font-family: Inter;
                    font-size: 16px;
                    color: #4b4b4b;
                    padding: 8px 30px 8px 15px;
                    appearance: none;
                    background: #dcefd3 ;
                    background-image: url(../images/financial/path.svg);
                     background-repeat: no-repeat;
                     background-position: 106px   center;
                }
            }
            .plant-monthContent{
                list-style-type: none;
                padding-left: 0;
                li{
                    font-size: 17px;
                    font-weight: 500;
                    color: #31343a;
                    display: flex;
                    justify-content: space-between;
                    padding: 13px 0;
                    border-bottom: 1px solid #d1d2d3;
                    span{

                    }
                    a{
                        text-decoration: none;
                        color: #539015;
                        img{
                            width: 12%;
                        }
                    }
                }
            }
        }
    }
}

.plant-trees-how{
    margin-top: 100px;
    .plant-howLeft{

    }
    .plant-howRight{
        background-size: cover;
        background-image: url(../images/financial/group-6-copy-2.svg);
        background: url(../images/financial/group-6-copy-2.svg)right bottom
        height: 100%;
        align-items: center;
        padding:0 80px;
        .plant-howRight-title{
            span{
                font-family: Inter;
                font-size: 40px;
                font-weight: 600;
                line-height: 1.23;
                color: #ffffff;
            }
            .green-stick{
                z-index: 3;
                margin-top: 20px;
                height: 5px;
                width: 55px;
                background-color: #6fae2e;
            }
        }
        .plant-howRight-desc{
            margin-top: 30px;
           div{
            font-size: 17px;
            line-height: 1.53;
            color: #ededf0;
            margin-bottom: 25px;
           }
            
        }
    }
}