@mixin respond($breakpoint) {
    @if $breakpoint==phone {
        @media (max-width: 600px) {
            @content
        }

        ; //600px
    }

    @if $breakpoint==tab-port {
        @media (max-width: 900px) {
            @content
        }

        ; //900px
    }

    @if $breakpoint==tab-land {
        @media (max-width: 1200px) {
            @content
        }

        ; //1200px
    }

    @if $breakpoint==big-desktop {
        @media (min-width: 1800px) {
            @content
        }

        ; //1800px
    }
}

@font-face {
    font-family: 'InterUI';
    src: url(../fonts/Inter-UI-Regular.ttf);
}

@font-face {
    font-family: 'Inter';
    src: url(../fonts/Inter-ExtraBold-slnt=0.ttf);
}

@font-face {
    font-family: 'Inter';
    src: url(../fonts/Inter-ExtraBold-slnt=0.ttf);
}

@font-face {
    font-family: "Semibold ";
    src: url('../fonts/Inter-SemiBold_5a940f143aafecbf00719f75eea1dd90.otf');
}

.plant-trees-settings{
    .plant-settingLeft{
       .plant-settingsLeft-top{
           .setting-title{
            font-family: InterUI;
            font-size: 30px;
            font-weight: 600;
            color: #333333;
           }
           .setting-tab{

           }
       } 
    }
}