@mixin respond($breakpoint) {
    @if $breakpoint==phone {
        @media (max-width: 600px) {
            @content;
        }

        //600px
    }

    @if $breakpoint==tab-port {
        @media (max-width: 900px) {
            @content;
        }

        //900px
    }

    @if $breakpoint==tab-land {
        @media (max-width: 1200px) {
            @content;
        }

        //1200px
    }

    @if $breakpoint==big-desktop {
        @media (min-width: 1800px) {
            @content;
        }

        //1800px
    }
}

@font-face {
    font-family: 'InterUI';
    src: url(../fonts/Inter-UI-Regular.ttf);
}

@font-face {
    font-family: 'Inter';
    src: url(../fonts/Inter-ExtraBold-slnt=0.ttf);
}

@font-face {
    font-family: 'Inter';
    src: url(../fonts/Inter-ExtraBold-slnt=0.ttf);
}

@font-face {
    font-family: 'Semibold ';
    src: url('../fonts/Inter-SemiBold_5a940f143aafecbf00719f75eea1dd90.otf');
}

.plant-trees-settings {
    margin-left: -110px;

    .plant-settingLeft {
        margin-top: 20px;

        .plant-settingsLeft-top {
            padding-bottom: 80px;
            border-bottom: 1px solid #ddd;

            .setting-title {
                float: left;
                color: #333;
                font-weight: 700;
                font-size: 25px;
                font-size: 1.875rem;
            }

            .setting-tab {
                float: right;
                margin-top: 4px;

                a {
                    color: #222;
                    text-decoration: none;
                    padding: 6px 20px;
                    position: relative;
                    display: inline-block;
                    font-weight: 400;
                    font-size: 14px;
                    font-size: 0.875rem;
                    background-color: #fafafa;
                    border-top: 1px solid #ddd;
                    border-bottom: 1px solid #ddd;
                    border-right: 1px solid #ddd;
                    border-left: 1px solid #ddd;

                    &:first-child {
                        border-left: 1px solid #ddd;
                        border-bottom-left-radius: 3px;
                        border-top-left-radius: 3px;
                    }

                    &.active {
                        color: #fff;
                        background-color: #666;
                        border-top: 1px solid #666;
                        border-bottom: 1px solid #666;
                    }

                    &:hover {
                        color: #fff;
                        background-color: #666;
                        border-top: 1px solid #666;
                        border-bottom: 1px solid #666;
                    }

                    &:after {
                        top: 0;
                        right: 0;
                        width: 1px;
                        content: '';
                        height: 100%;
                        position: absolute;
                        background-color: #ddd;
                    }
                }
            }
        }

        .plant-settings-content {
            margin-top: 10px;
            padding: 20px 0 0;
            border-bottom: 1px solid #ddd;

            .plant-setting-item {
                float: left;
                width: 100%;
                margin-bottom: 20px;

                .plant-setting-field {
                    float: left;
                    width: 60%;

                    .setting-title {
                        font-family: InterUI;
                        font-size: 16px;
                        color: #222222;
                    }

                    .setting-desc {
                        font-family: InterUI;
                        font-size: 13px;
                        color: #555555;
                    }
                }

                .setting-value {
                    float: right;
                    width: 40%;
                    margin-top: 6px;
                    text-align: right;

                    select {
                        color: #222;
                        cursor: pointer;
                        border-color: #ddd;
                        font-weight: 400;
                        font-size: 14px;
                        font-size: .875rem;
                        padding: 6px 40px 6px 10px;
                        border-radius: 3px;
                    }
                }

                .onoffswitch {
                    position: relative;
                    width: 62px;
                    -webkit-user-select: none;
                    -moz-user-select: none;
                    -ms-user-select: none;
                    .onoffswitch-checkbox {
                        position: absolute;
                        opacity: 0;
                        pointer-events: none;
                        &:checked {
                            + {
                                .onoffswitch-label {
                                    background-color: #49E845;
                                    border-color: #49E845;
                                    &:before {
                                        border-color: #49E845;
                                        right: 0px;
                                    }
                                }
                            }
                        }
                    }
                    .onoffswitch-label {
                        display: block;
                        overflow: hidden;
                        cursor: pointer;
                        height: 28px;
                        padding: 0;
                        line-height: 28px;
                        border: 2px solid #E3E3E3;
                        border-radius: 28px;
                        background-color: #BABABA;
                        transition: background-color 0.3s ease-in;
                        &:before {
                            content: "";
                            display: block;
                            width: 28px;
                            margin: 0px;
                            background: #FFFFFF;
                            position: absolute;
                            top: 0;
                            bottom: 0;
                            right: 32px;
                            border: 2px solid #E3E3E3;
                            border-radius: 28px;
                            transition: all 0.3s ease-in 0s;
                        }
                    }
                }   
            }
        }
    }
}